<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen!</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="MyCss.css"> <!--External stylesheet-->  <!-- Internal stylesheet for styling background -->
    <style>
        html{
            background: url("carBridge.webp") no-repeat fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: "Abyssinica SIL";
        }

    </style>

    <ul>
            <li><a href="index.html">Hjem <i class='fas fa-home'></i></a></li>
        <li><a href="cars.html">Biler <i class='fas fa-car-alt'></i></a></li>
        <li><a href="customers.html">Kunder <i class='fas fa-address-card'></i></a></li>
        <li><a href="rentalDeals.html">Leje-kontrakter <i class='fas fa-book'></i></a></li>
        <li><a href="/newRentalDeal.html">Ny leje-kontrakt <i class='far fa-clipboard'></i></a></li>
        <li><a href="/newCar.html">Ny bil <i class='fas fa-truck-pickup'></i></a></li>
        <li><a href="/newCustomer.html">Ny kunde <i class='fas fa-address-book'></i>
        </a></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
</head>
<body>

<h1>Velkommen</h1>
</body>
</html>