<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ny lejekontrakt</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="MyCss.css"> <!--External stylesheet-->  <!-- Internal stylesheet for styling background -->
    <style>
        html{
            background: url("twoCars.jpg") no-repeat fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: "Abyssinica SIL";
        }

    </style>

    <ul>
        <li><a href="index.html">Hjem <i class='fas fa-home'></i></a></li>
        <li><a href="cars.html">Se biler <i class='fas fa-car-alt'></i></a></li>
        <li><a href="customers.html">Se kunder <i class='fas fa-address-card'></i></a></li>
        <li><a href="rentalDeals.html">Se leje-kontrakter <i class='fas fa-book'></i></a></li>
        <li><a href="/newRentalDeal.html">Ny leje-kontrakt <i class='far fa-clipboard'></i></a></li>
        <li><a href="/newCar.html">Ny bil <i class='fas fa-truck-pickup'></i></a></li>
        <li><a href="/newCustomer.html">Ny kunde <i class='fas fa-address-book'></i>
        </a></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
</head>
<body>
<h2>Opret ny leje-kontrakt</h2>
<div id="createNew">
<form action ="/newRentalDeal" method="post">
    <label>Kunde ID</label>
    <input type="text" name="customerID" placeholder="Kundens ID">
    <br>
    <label>Bil ID</label>
    <input type="text" name="carID" placeholder="Bilens ID">
    <br>
    <label>Abonnement type</label>
    <input type="text" name="sub" placeholder="Abonnement type">
    <br>
    <label>Pris</label>
    <input type="text" name="price" placeholder="Pris pr måned">
    <br>
    <label>Pick up lokation</label>
    <input type="text" name="pickUpLocation" placeholder="Hvor hentes bilen?">
    <br>
    <label>Drop off lokation</label>
    <input type="text" name="dropOffLocation" placeholder="Hvor bliver bilen afleveret?">
    <br>
    <label>Skader før</label>
    <input type="text" name="damagesBefore" placeholder="Skader på bilen før udlejning">
    <br>
    <label>Skader efter</label>
    <input type="text" name="damagesAfter" placeholder="Skader på bilen efter udlejning">
    <br>
    <input type="submit" value="Opret lejekontrakt" style="background-color: white">
    <br>
</form>
</div>
</body>
</html>